**/tests/**/*.exe
**/tests/**/*.cs
!**/tests/**.ps1

**/bin/
**/obj/
**/.binwips/

tests/ExampleRunspace/bin/
tests/ExampleRunspace/obj/
tests/out
test/**.exe
.idea/
**/*.pdb
src/Modules/BinWips/files/bflat/**