# Jet brains
.idea/

**/tests/**/*.exe
**/tests/**/*.cs
!**/tests/**.ps1

**/bin/
**/obj/
**/.binwips/
**/*.pdb
**/*.obj
**/*.exe
**/*.dll

# test
tests/ExampleRunspace/bin/
tests/ExampleRunspace/obj/
tests/out
test/**.exe

# test reports
reports/
coverage.xml
Test.xml

src/Modules/BinWips/files/bflat/**

